body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfdfd;
  }

  h1 {
    font-family: "Arial", sans-serif;
    color: #333;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    margin-top: 0;
  }
  
  .resultado {
    font-weight: bold;
    font-size: 24px; 
    margin-top: 20px; 
    color: #570505;
  }
 
  .container {
    background-color: #c7a7a7;
    border: 1px solid #f0ecec;
    padding: 60px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table,
  th,
  td {
    border: 1px solid #ddd;
  }
  
  th,
  td {
    padding: 25px;
    text-align: center;
  }
  